.form {
  width: 100%;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 429px;

    h2 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-bottom: 48px;
      color: white;
    }

    p {
      font-size: 26px;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      color: white
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 495px;
    margin-top: 44px;

    input,
    textarea {
      width: 100%;
      border: 4px solid white;
      background-color: black;
      padding-left: 16px;
      margin-bottom: 20px;
      color: white;
    }
    
    input::placeholder,
    textarea::placeholder {
      color: white;
    }

    input {
      height: 69px;
      border-radius: 99px;

    }

    textarea {
      height: 193px;
      border-radius: 20px;
      padding-top: 16px;
    }

    button {
      width: 324px;
      height: 64px; 
      color: white;
      background-color: #5548F6;
      border: none;
      border-radius: 999px;
    }
  }
}