.header {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 76px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  
  img {
    object-fit: cover;
    width: 267px;
    border: 1px solid black;
  }

  .sections {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    p {
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      letter-spacing: 6px;
      color: white;
      margin-right: 64px;
    }
  }
}