.other-project {
  width: 100%;

  .titleseemore {
    display: flex;
    flex-direction: row;
    margin: 80px 130px 54px;
    justify-content: space-between;

    .title {
      font-size: 30px;
    }

    .seemore {
      font-size: 20px;
      text-decoration: underline;
      color: black;

      &:hover {
        color: blue;
      }
    }
  }

  .cardsarrow {
    display: flex;
    flex-direction: row;
    margin: 0 64px;
    align-items: center;
    justify-content: center;

    
    .arrow { 
      width: 62px;
      height: 62px;
      border-radius: 999px;
    }

    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 1193px;
      margin: 0 29px;
      overflow: scroll;

      .items {

        display: flex;
        flex-direction: row;
        transition: 2s ease-in-out;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          min-width: 371px;
          min-height: 464px;
          background-color: black;
          border-radius: 10px;
          margin-right: 40px;
          text-decoration: none;

          img {
            width: 100%;
            height: 232px;
            border-radius: 10px 10px 0 0;
          }

          .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 290px;
            margin-top: 8px;
            .title {
              font-size: 20px;
              font-family: "Poppins", sans-serif;
              font-weight: bold;
              color: white;
              margin: 16px;
            }

            .description {
              font-size: 20px;
              font-family: "Poppins", sans-serif;
              font-weight: normal;
              line-height: 1.45;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .other-project {
    .titleseemore {
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
        margin-bottom: 16px;
      }

    }

    .cardsarrow {
      flex-direction: column;

      .arrow {
        display: none;
      }

      .cards {
        min-width: 372px;
        max-height: 1472px;
        flex-direction: column;
        align-items: center;

        .items {
          flex-direction: column;
          overflow: hidden;
        }
        .card {
          margin: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}