.panel-stack {
  width: 100%;

  .titleseemore {
    display: flex;
    flex-direction: row;
    margin: 80px 130px 54px;
    justify-content: space-between;

    .title {
      font-size: 30px;
    }

    .seemore {
      font-size: 20px;
      text-decoration: underline;
      color: black;

      &:hover {
        color: blue;
      }
    }
  }

  .stackarrow {
    display: flex;
    flex-direction: row;
    margin: 0 64px;
    align-items: center;
    justify-content: center;

    
    .arrow { 
      width: 62px;
      height: 62px;
      border-radius: 999px;
    }

    .cards {
      display: flex;
      flex-direction: row;
      align-items: start;
      min-width: 1216px;
      margin: 0 30px;
      overflow: scroll;

      .items {

        display: flex;
        flex-direction: row;
        transition: 2s ease-in-out;
        
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 34px;

          .image {
            object-fit: cover;
            object-position: center;
            border-radius: 999px;
            width: 216px;
            height: 216px;
            background-color: white;
          }

          p {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-weight: medium;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .panel-stack {
    .titleseemore {
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
        margin-bottom: 16px;
      }
    }

    .stackarrow {
      flex-direction: column;
      margin-bottom: 32px; 
      .arrow {
        display: none;
      }

      .items {
        min-width: 372px;
        max-height: 1202px;
        flex-direction: column !important;
        align-items: center;
        overflow: hidden;

        .item {
          margin: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}