#splitscreen {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}
.box {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 744px;

  .wrapper {
    display: flex;
    flex: 1;
    height: 744px;
    position: relative;
  }
  .images-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: black;
    
    .screenshots {
      width: 100%;
      max-width: 516px;
      height: 100%;
      max-height: 320px;
      background: url("/screenshots/thumbnail_ventura.png");
      background-position: center;
      background-size: cover;
      z-index: 888;
    }

    .qrcode {
      position:absolute;
      bottom: 100px;;
      right: 50px;
      z-index: 899;
    }
  }
  .text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    .text {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 32px 0; 
      width: 72.00%;
      
      h1 {
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 1;
        color: black;
        margin-bottom: 24px;
      }

      p {
        width: 100%;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        line-height: 36px;
        color: black;
      }

      button {
        background-color: #5548F6;
        width: 200px;
        height: 56px;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        border: none;
        border-radius: 999px;
        margin-top: 40px;

        &:hover {
          background-color: #312a94;
        }

        &:active {
          background-color: #8179f5;
        }
      }
    }
  }
}

.box:nth-child(even) .wrapper.images-box {
  order: 2;
}
.box:nth-child(even) .wrapper.text-box {
  order: 1;
}

@media only screen and (max-width: 1080px) {
  .box {
    flex-direction: column;
    align-items: center ;
    .wrapper.images-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 1 !important;
      width: 100%;
    }

    .images-box {
      .qrcode {
        bottom: 80px;;
      }
    }

    .wrapper.text-box {
      order: 2 !important;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
.qrcode {
  display: none !important;
}
}