@font-face {
  font-family: 'Ananda';
  src: url('/font/anandablackpersonaluseregular-rg9rx-webfont.woff') format('woff');
}
.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;

  .text {
    font-size: 45px;
    font-family: "Ananda", sans-serif;
    font-weight: normal;
    line-height: 1.83;
    color: white;
    text-align: center;
  }
}

